@model SWP391.Models.Quiz

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/UserLayout/_AdminLayout2.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.TopicName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizLevel.QuizLevelName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizType.QuizTypeName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="QuizId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
