@model SWP391.Models.Quiz

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/UserLayout/_AdminLayout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.TopicId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizType.QuizTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizLevel.QuizLevelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuizId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
