@model SWP391.Models.ViewModels.Quiz_QuestionVM

@{
    ViewData["Title"] = "QuizDetails";
    var mdo = "";
    var fat = "";
    var getbootstrap = "";
    Layout = "~/Views/Shared/UserLayout/_AdminLayout2.cshtml";
}
<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Number_question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Number_question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Pass_rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Pass_rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Quiz_Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Quiz_Level.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quiz.Quiz_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quiz.Quiz_Type.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.quiz.Id"><button type="button" class="btn btn-primary">Edit</button></a> |
    <a asp-action="Index"><button type="button" class="btn btn-success">Back To List</button></a>
</div>

@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Setting</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Setting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group  col-md-12">
                            <label asp-for="Number_question" class="control-label"></label>
                            <input asp-for="Number_question" value="@Model.Number_question" class="form-control" />
                            <span asp-validation-for="Number_question" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-md-12">

                            <label for="message-text" class="col-form-label">Lựa chọn số câu hỏi theo level</label>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Quiz_Level_Id" class="control-label">Easy</label>
                            <span asp-validation-for="Quiz_Level_Id" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input asp-for="Number_question" value="@Model.Number_question" class="form-control" />
                            <span asp-validation-for="Number_question" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Quiz_Level_Id" class="control-label">Medium</label>
                            <span asp-validation-for="Quiz_Level_Id" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input asp-for="Number_question" value="@Model.Number_question" class="form-control" />
                            <span asp-validation-for="Number_question" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Quiz_Level_Id" class="control-label">Hard</label>
                            <span asp-validation-for="Quiz_Level_Id" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input asp-for="Number_question" value="@Model.Number_question" class="form-control" />
                            <span asp-validation-for="Number_question" class="text-danger"></span>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>*@

@section Scripts{
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
        })
    </script>
}

<h1>Danh Sách Quesiton</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Course
            </th>
            <th>
                Question Content
            </th>
            <th>
                Level
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list_question)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quiz_Level.Name)
                </td>
                <td>
                    @if (item.Status_Id == 1)
                    {
                        <i class="fa fa-circle text-success"> </i>
                    }
                    @Html.DisplayFor(modelItem => item.Status.Value)
                </td>
                <td>
                    <a asp-controller="QuestionBank" asp-action="QuestionDetail" asp-route-id="@item.Id">Detail</a> |
                    <a asp-controller="QuestionBank" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>