@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Views/Shared/CustomLayout/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">Users</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body booking_card">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-center">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Full Name</th>
                                        <th>Address</th>
                                        <th>Birthday</th>
                                        <th>Sex</th>
                                        @*<th>Subcription</th>*@
                                        <th>Email</th>
                                        @*<th>Ph.Number</th>*@
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                            <td>
                                                @*<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/avatar-03.jpg" alt="User Image"></a>*@
                                                <a href="profile.html">@item.FullName</a>
                                            </td>
                                            <td>@item.Address</td>
                                            <td>@item.Birthday</td>
                                            <td>@item.Sex</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <div class="actions"> <a href="#" class="btn btn-sm bg-success-light mr-2">Active</a> </div>
                                            </td>
                                            <td>
                                                <div id="PlaceHolderHere"></div>
                                                <div class="popup">
                                                    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action($"UserDetail","DashBoard", new { item.UserName })">VIEW DETAIL</button>
                                                </div>
                                                <!--<div class="dropdown dropdown-action">
                                                <a class="btn btn-info">View</a>-->
                                                @*<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right"> <a class="dropdown-item" href="edit-customer.html"><i class="fas fa-pencil-alt m-r-5"></i> Edit</a> <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_asset"><i class="fas fa-trash-alt m-r-5"></i> Delete</a> </div>*@
                                                <!--</div>-->
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_asset" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                    <h3 class="delete_class">Are you sure want to delete this Asset?</h3>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
