@model SWP391.Models.AppUser

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" id="edit-profile">
                    <div class="profile-head">
                        <h3>User Profile</h3>
                    </div>
                    <form class="edit-profile" id="profile-form" method="post" enctype="multipart/form-data">
                        <div>
                            <div>
                                @if (Model.ProfilePictureURL != null)
                                {
                                    <div class="form-group row user-profile">
                                        <div class="col-12 text-center">
                                            <img src="~/img/@Model.ProfilePictureURL" alt="" />
                                        </div>
                                    </div>
                                }

                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label" asp-for="@Model.UserName"></label>
                                    <div class="col-12 col-sm-9 col-md-9 col-lg-9">

                                        <input class="form-control" asp-for="@Model.UserName" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label">Phone</label>
                                    <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                        <input class="form-control" asp-for="@Model.PhoneNumber" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label" asp-for="@Model.FullName"></label>
                                    <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                        <input class="form-control" asp-for="@Model.FullName" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label" asp-for="@Model.Address"></label>
                                    <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                        <input class="form-control" asp-for="@Model.Address" disabled />
                                    </div>
                                </div>
                                @*<div class="form-group row">
                                        <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label" asp-for="@Model.Birthday"></label>
                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                            <input class="form-control" asp-for="@Model.Birthday" disabled />
                                        </div>
                                    </div>*@
                            </div>

                            @*<div class="form-group row">
                                    <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"></label>
                                    <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                        <input accept="image/*" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>*@
                        </div>
                        @*<div class="">
                                <div class="">
                                    <div class="row">
                                        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                                        </div>
                                        <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                            <button type="submit" class="btn">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>