@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SWP391_OnlineLearning_Platform.Models.Blog

@{
    ViewData["Title"] = "Blog Detail";
    var count = 0;

}



<main>
    <div class="page-heading text-center">
        <div class="container">
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <img src="~/img/@Html.DisplayFor(model => model.Thumbnail)" alt="blog-single" class="resp-img">
                <h3>@Html.DisplayFor(model => model.Title)</h3>
                <div class="author">
                    <a href="#">@Html.DisplayFor(model => model.Category.Value)</a><span> - 4 JANUARY 2016 BY @Html.DisplayFor(model => model.User.Full_Name)</span>
                </div>
                <p class="abs">
                    @Html.DisplayFor(model => model.Content)
                </p>
                <p class="abs">

                </p>
                <p class="abs">

                </p>
                <div class="about-author">
                    <ul class="social pull-right">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-email"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-globe-alt"></i></a>
                        </li>
                    </ul>
                    <br>
                    <h4>ABOUT THE AUTHOR</h4>
                    <img src="~/img/@Html.DisplayFor(model => model.User.Avatar_Url)" alt="Avatar" class="pull-left profile-usertitle-name" style="width:auto;height:150px">
                    <p style="font-weight: bold; text-transform: uppercase;">@Html.DisplayFor(model => model.User.Full_Name)</p>
                    <p class="abs">
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                        eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                        augue duis dolore te feugait nulla facilisi.
                    </p>
                </div>
                <br/>


                @*<h4>COMMENTS</h4>
                <div class="comment clearfix">
                    <img src="http://placehold.it/65x65" alt="Avatar" class="pull-left">
                    <a href="#">Jack Porter</a>
                    <span class="postedon">14 JANUARY 2016 AT 12:24 AM</span>
                    <p class="abs">
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                        facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <a href="#" class="pull-right greybutton">REPLY</a>
                </div>
                <div class="comment subcomment clearfix">
                    <img src="http://placehold.it/65x65" alt="Avatar" class="pull-left">
                    <a href="#">Mark Terrenzi</a>
                    <span class="postedon">14 JANUARY 2016 AT 12:35 AM</span>
                    <p class="abs">
                        Ivel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                        blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </p>
                    <a href="#" class="pull-right greybutton">REPLY</a>
                </div>
                <h4>LEAVE A REPLY</h4>
                <form class="contact">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="req">NAME</label>
                            <input type="text" name="name" placeholder="enter your name" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="req">E-MAIL ADDRESS</label>
                            <input type="text" name="email" placeholder="enter e-mail address" required>
                        </div>
                        <div class="col-sm-4">
                            <label>WEBSITE</label>
                            <input type="text" name="site" placeholder="https://">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="req">MESSAGE</label>
                            <textarea name="name" placeholder="type in a message" required></textarea>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button class="greybutton">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </form>*@



            </div>



            <div class="col-lg-3 blog-sidebar">
                @*SEARCH BAR*@
                <div class="search-something">
                    <form asp-controller="PublicFeature" asp-action="bloglist">
                        <div class="search-something">
                            <input type="text" name="keyWord" placeholder="search for something">
                            <input type="button" value="Search">
                        </div>
                    </form>
                </div>
                <h4>RECENT POSTS</h4>

                @foreach (var item in ViewData["recentBlogs"] as List<Blog>)
                {
                    ++count;
                    if (count <= 5)
                    {
                        <div class="recent-post clearfix">
                            <img src="~/img/@Html.DisplayFor(modelItem => item.Thumbnail)" alt="recent" class="pull-left" style="width: 70px; height: 70px; object-fit: cover; object-position: 50% 50%;">
                            <a asp-controller="publicfeature" asp-action="BlogDetail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                            <div class="author">
                                <a href="#">@Html.DisplayFor(modelItem => item.Category.Value)</a><span> @Html.DisplayFor(modelItem => item.Date_Create)</span>
                            </div>
                        </div>}
                }


                <div class="categories">
                    <h6>CATEGORIES</h6>
                    <ul>
                        @foreach (var item in ViewData["category"] as List<Category>)
                        {
                            <li><a asp-route-CatID="@item.Id" asp-controller="publicfeature" asp-action="bloglist">@Html.DisplayFor(modelItem => item.Value)</a></li>
                        }
                    </ul>
                </div>

            </div>

        </div>
    </div>
</main>