@page "/user/course"
@model CourseModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Course;
    Paginated pager = new Paginated();
    int pageNo = 0;
    string cate = ViewBag.Category;
    if (Model.Paginated != null)
    {
        pager = Model.Paginated;
        pageNo = pager.CurrentPage;
    }
}

<h4>@ViewData["Title"]</h4>

<div class="tab-pane active" id="courses">
    <div class="profile-head">
        <h3>My Courses</h3>
        <div class="feature-filters style1 ml-auto">
            <ul class="filters" data-toggle="buttons">
                <li data-filter="" class="btn active">
                    <input type="radio">
                    <a href="#"><span>All</span></a>
                </li>
                <li data-filter="publish" class="btn">
                    <input type="radio">
                    <a href="#"><span>Publish</span></a>
                </li>
                <li data-filter="pending" class="btn">
                    <input type="radio">
                    <a href="#"><span>Pending</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="courses-filter">
        <div class="clearfix">
            <ul id="masonry" class="ttr-gallery-listing magnific-image row">
                @foreach (var course in Model.Courses)
                {
                    <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
                        <div class="cours-bx">
                            <div class="action-box">
                                <img src="~/img/@course.ThumbnailURL" alt="">
                                <a asp-action="CourseDetail" asp-controller="Course" asp-route-id="@course.CourseId" class="btn">Read More</a>
                            </div>
                            <div class="info-bx text-center">
                                <h5><a href="#">@course.Title</a></h5>
                                <span>@course.Category.CategoryValue</span>
                            </div>
                            <div class="cours-more-info">
                                <div class="review">
                                    <span>3 Review</span>
                                    <ul class="cours-star">
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                                @*<div class="price">
                                    <del>$190</del>
                                    <h5>$120</h5>
                                </div>*@
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="col-lg-12 m-b20">
            <div class="pagination-bx rounded-sm gray clearfix">
                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination">
                        <li class="previous @(pager.CurrentPage <= 1 ? "visible-paging" : "")">
                            <a class="page-link" asp-action="course" asp-controller="user" asp-route-pge="@(pager.CurrentPage - 1)" asp-route-cate="@cate"><i class="ti-arrow-left"></i> Prev</a>
                        </li>
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-action="course" asp-controller="user" asp-route-pge="@pge" asp-route-cate="@cate"> @pge </a>
                            </li>
                        }
                        <li class="next @(pager.CurrentPage == pager.EndPage ? "visible-paging" : "")">
                            <a class="page-link" asp-action="course" asp-controller="user" asp-route-pge="@(pager.CurrentPage + 1)" asp-route-cate="@cate">Next <i class="ti-arrow-right"></i></a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
