@model SWP391.Models.Package
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  Layout = "_Layout";
}
<div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner1.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Payment</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>Payment</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <form id="payment-form" method="post" asp-controller="Payment" asp-action="Create">
                <div class="container">
                    <h2 class="title">Complete Payment</h2>
					 <div class="row">
                         
						<div class="col-lg-8 col-md-7 col-sm-12">
							@*<div class="courses-post">
								<div class="ttr-post-media media-effect">
									<a href="#"><img src="assets/images/blog/default/thum1.jpg" alt=""></a>
								</div>
								<div class="ttr-post-info">
									<div class="ttr-post-title ">
										<h2 class="post-title">Good Intentions or Good Results?</h2>
									</div>
									<div class="ttr-post-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									</div>
								</div>
							</div>*@
                            <div class="braintree-placeholder">&nbsp;</div>
                            @Html.HiddenFor(n => n.PackageId)
            <div class="card" style="margin-top:-5px">
                <div class="card-body">
                    <h5 class="card-title">@Model.PackageName</h5>
                    <p class="card-text">@Model.PackageDescription</p>
                    @*<p class="card-text"><small class="text-muted">Author: @Model.Author</small></p>*@
                    <p class="card-text"><small class="text-muted">Price: @Model.PackagePrice</small></p>
                </div>
                @*<img style="width: 90%" class="card-img-bottom" src="@Model.Thumbnail" alt="Card image cap">*@
            </div>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-12 m-b30">
							@*<div class="bg-light text-white contact-info-bx m-b30">*@
@*								<h2 class="m-b10 title-head">Contact <span>Information</span></h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<div class="widget widget_getintuch">	
									<ul>
										<li><i class="ti-location-pin"></i>75k Newcastle St. Ponte Vedra Beach, FL 309382 New York</li>
										<li><i class="ti-mobile"></i>0800-123456 (24/7 Support Line)</li>
										<li><i class="ti-email"></i>info@example.com</li>
									</ul>
								</div>
								<h5 class="m-t0 m-b20">Follow Us</h5>
								<ul class="list-inline contact-social-bx">
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
								</ul>*@
                                <section>
                                <div class="bt-drop-in-wrapper">
                                <div id="bt-dropin"></div>
                                </div>
                                </section>
                                <button class="btn btn-success" style="display:flex" type="submit"><span>Confirm payment - $@Model.PackagePrice</span></button></div>
                                <div>
                                @*@Html.HiddenFor(n => n.Nonce, new { @id = "nonce" })*@
							@*</div>*@
						</div>
					</div>
				</div>
                </form>
            </div>
        </div>
    </div>
<script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    return;
                }
              
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
