@using PagedList.Core.Mvc
@using SWP391.Models;
@{ int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "BlogList";
    var count = 0;
    int numberResult = Model.Count(); }
@model PagedList.Core.IPagedList<SWP391.Models.Blog>

<style>
    .action-box img,
    .ttr-post-media img {
        width: 100%;
        height: auto;
    }
</style>
<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url(~/assets/images/banner/banner1.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Blog Classic Sidebar</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Blog List</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- left part start -->

                    <div class="col-lg-8 col-xl-8 col-md-7">
                        <!-- blog grid -->
                        @*CATEGORY*@
                        <div>
                            <p>
                                <h3>Sorted by:</h3>
                                <select id="categoryList" name="categoryList" asp-items="ViewBag.selectedCategory">
                                    <option selected disabled>---Category---</option>
                                    <option value="0">All</option>
                                </select>
                            </p>
                        </div>
                        <br />
                        @if (ViewBag.KeyWord != null)
                        {
                            <h3>@numberResult results for <span style="color: gray;">"@ViewBag.KeyWord"</span></h3><br />
                        }
                        @if (Model.Count == 0)
                        {
                            <h3>No information</h3><br />
                        }
                        <div id="masonry" class="ttr-blog-grid-3 row">
                            @*NỘI DUNG CONTENT*@

                            @foreach (var item in Model)
                            {
                                <div class="post action-card col-xl-6 col-lg-6 col-md-12 col-xs-12 m-b40">
                                    <div class="recent-news">
                                        <div class="action-box">
                                            <img src="~/img/@Html.DisplayFor(modelItem => item.ThumbnailURL)" alt="">
                                        </div>
                                        <div class="info-bx">
                                            <ul class="media-post">
                                                <li><a href="#"><i class="fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.CreatedDate)</a></li>
                                                <li><a href="#"><i class="fa fa-user"></i>By @Html.DisplayFor(modelItem => item.User.FullName)</a></li>
                                            </ul>
                                            <h5 class="post-title"><a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.BlogId">@Html.DisplayFor(modelItem => item.Title)</a></h5>
                                            <p>@Html.DisplayFor(modelItem => item.Brief)</p>
                                            <div class="post-extra">
                                                <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.BlogId" class="btn-link">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                        <!-- blog grid END -->
                        <!-- Pagination -->
                        <pager list="@Model" asp-route-CatID="@ViewBag.CurrentCateID" asp-controller="Blog" asp-action="bloglist" />

                        @*<div class="pagination-bx rounded-sm gray clearfix">
                                <ul class="pagination">
                                    <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
                                </ul>
                            </div>*@
                        <!-- Pagination END -->
                    </div>
                    <!-- left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 col-xl-4 col-md-5 sticky-top">
                        <aside class="side-bar sticky-top">
                            <div class="widget">
                                <h6 class="widget-title">Search</h6>
                                <div class="search-bx style-1">
                                    <form role="search" method="post" asp-controller="Blog" asp-action="bloglist">
                                        <div class="input-group">
                                            <input name="keyWord" class="form-control" placeholder="Enter your keywords..." type="text">
                                            <span class="input-group-btn">
                                                <button type="submit" class="fa fa-search text-primary"></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title">Recent Posts</h6>
                                <div class="widget-post-bx">
                                    @*NỘI DUNG RECENT POST*@
                                    @*HIỆN THỊ TỐI ĐA 3 CÁI THEO THỜI GIAN GẦN NHẤT*@
                                    @foreach (var item in ViewData["recentBlogs"] as List<Blog>)
                                    {
                                        ++count;
                                        if (count <= 5)
                                        {
                                            <div class="widget-post clearfix">
                                                <div class="ttr-post-media"> <img src="~/img/@Html.DisplayFor(modelItem => item.ThumbnailURL)" width="200" height="143"> </div>
                                                <div class="ttr-post-info">
                                                    <div class="ttr-post-header">
                                                        <h6 class="post-title"><a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.BlogId">@Html.DisplayFor(modelItem => item.Title)</a></h6>
                                                    </div>
                                                    <ul class="media-post">
                                                        <li><a href="#"><i class="fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.CreatedDate)</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="widget widget_gallery gallery-grid-4">
                                <h6 class="widget-title">Our Gallery</h6>
                                <ul>
                                    <li><div><a href="#"><img src="~/img/thumbnail1.jpg" alt=""></a></div></li>
                                    <li><div><a href="#"><img src="~/img/thumbnail2.jpg" alt=""></a></div></li>
                                    <li><div><a href="#"><img src="~/img/thumbnail3.jpg" alt=""></a></div></li>
                                    <li><div><a href="#"><img src="~/img/thumbnail4.jpg" alt=""></a></div></li>
                                    <li><div><a href="#"><img src="~/img/thumbnail5.jpg" alt=""></a></div></li>
                                    <li><div><a href="#"><img src="~/img/thumbnail6.jpg" alt=""></a></div></li>
                                    <li><div><a href="#"><img src="~/img/thumbnail7.jpg" alt=""></a></div></li>
                                    <li><div><a href="#"><img src="~/img/thumbnail8.jpg" alt=""></a></div></li>
                                </ul>
                            </div>
                            <div class="widget widget_tag_cloud">
                                <h6 class="widget-title">Categories</h6>
                                <div class="tagcloud">
                                    @foreach (var item in ViewData["category"] as List<Category>)
                                    {
                                        <a asp-controller="Blog" asp-action="BlogList" asp-route-CatID="@item.CategoryId">@item.CategoryValue</a>

                                    }
                                </div>
                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Left & right section END -->
<!-- Content END-->

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#categoryList").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                $("#categoryList option").removeAttr("selected");
                $("#categoryList option > [value=" + catID + "]").attr("selected", "true");
                $.ajax({
                    url: '/blog/filter',
                    dataType: 'json',
                    type: 'GET',
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}