@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model SWP391_OnlineLearning_Platform.Models.User;
<!--div class="container">
   <div class="row profile">-->
@* @await Html.PartialAsync("~/ Views / Shared / _Layout.cshtml")*@

<!--<div class="col-md-9">
            <div class="profile-content">
                <div class="text-center">
                    <h3 style="margin-top:20px">Login</h3>
                </div>
                <form method="post" asp-action="Login">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Enter Your Email</label>
                        <input asp-for="Email" placeholder="Enter Your Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger">@ViewBag.ErrorMess</span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Enter Your Password</label>
                        <input asp-for="Password" placeholder="Enter Your Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-success" style="margin-left:35%; padding:5px 20px" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row profile">

        <div class="col-md-9">
            <div class="profile-content">
                <div class="text-center">
                    <h3 style="margin-top:20px">Login</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Login", "AccountManagement", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

