@{ ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@model SWP391_OnlineLearning_Platform.Models.User;
<div class="container">
    <div class="row profile">

        <div class="col-md-9">
            <div class="profile-content">
                <div class="text-center">
                    <h3 style="margin-top:20px">Login</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Register", "AccountManagement", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Full_Name)
                            @Html.TextBoxFor(m => m.Full_Name, "", new { @class = "form-control", @placeholder = "Full Name" })
                            @Html.ValidationMessageFor(m => m.Full_Name, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username)
                            @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "User Name" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "badge badge-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                            @if (ViewBag.error != null)
                            {
                    <span class="badge badge-danger">@ViewBag.error</span>}
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Dob)
                            @Html.TextBoxFor(m => m.Dob, new { @class = "form-control", @placeholder = "Date of birth" })
                            @Html.ValidationMessageFor(m => m.Dob, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Auth_Provider)
                            @Html.TextBoxFor(m => m.Auth_Provider, "", new { @class = "form-control", @placeholder = "Auth Provider" })
                            @Html.ValidationMessageFor(m => m.Auth_Provider, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Avatar_Url)
                            @Html.TextBoxFor(m => m.Avatar_Url, "", new { @class = "form-control", @placeholder = "Avatar" })
                            @Html.ValidationMessageFor(m => m.Avatar_Url, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone)
                            @Html.TextBoxFor(m => m.Phone, "", new { @class = "form-control", @placeholder = "Phone Number" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Reset_password_token)
                            @Html.TextBoxFor(m => m.Reset_password_token, "", new { @class = "form-control", @placeholder = "Reset password token" })
                            @Html.ValidationMessageFor(m => m.Reset_password_token, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Verification_code)
                            @Html.TextBoxFor(m => m.Verification_code, "", new { @class = "form-control", @placeholder = "Verification Code" })
                            @Html.ValidationMessageFor(m => m.Verification_code, "", new { @class = "badge badge-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status_Id)
                            @Html.TextBoxFor(m => m.Status_Id, "", new { @class = "form-control", @placeholder = "Status" })
                            @Html.ValidationMessageFor(m => m.Status_Id, "", new { @class = "badge badge-danger" })
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                        </div>
                    </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>
