@{
    Layout = "_Layout";
    ViewData["Title"] = "userProfile";
}

@model SWP391_OnlineLearning_Platform.Models.User


<div class="container">
    <div class="row profile">

        @await Html.PartialAsync("~/Views/Shared/_UserProfilePartial.cshtml", Model) 

        <div class="col-md-9">
            <div class="profile-content">
                <div class="text-center">
                    <h3 style="margin-top:20px">USER INFORMATION</h3>
                </div><br/>
                <table class="table table-borded table-striped">
                    <tr>
                        <td>User Name</td>
                        <td style="font-weight:bold">@Model.Username</td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td style="font-weight:bold">@Model.Full_Name</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td style="font-weight:bold">
                            @Model.Dob.ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td style="font-weight:bold">@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td style="font-weight:bold">
                            @if (Model.Gender == 0)
                            {
                <p>FeMale</p> }
                            else if (Model.Gender == 1)
                            {
                <p>Male</p> }
                            else
                            {
                <p>Non-binary</p>}
                        </td>
                    </tr>
                </table>
                <a class="btn btn-primary" style="margin-left:40%;" asp-area="" asp-controller="AccountManagement" asp-action="editProfile" asp-route-id="@Model.Id">Edit Your Profile</a>
            </div>

        </div>
    </div>
</div>