
@{

    ViewData["Title"] = "editProfile";
}
@model SWP391_OnlineLearning_Platform.Models.User
<style>

    body {
        background: #F1F3FA;
    }

    /* Profile container */
    .profile {
        margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }

        .profile-userbuttons .btn {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
        }

            .profile-userbuttons .btn:last-child {
                margin-right: 0px;
            }

    .profile-usermenu {
        margin-top: 30px;
    }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

            .profile-usermenu ul li:last-child {
                border-bottom: none;
            }

            .profile-usermenu ul li a {
                color: #93a3b5;
                font-size: 14px;
                font-weight: 400;
            }

                .profile-usermenu ul li a i {
                    margin-right: 8px;
                    font-size: 14px;
                }

                .profile-usermenu ul li a:hover {
                    background-color: #fafcfd;
                    color: #5b9bd1;
                }

            .profile-usermenu ul li.active {
                border-bottom: none;
            }

                .profile-usermenu ul li.active a {
                    color: #5b9bd1;
                    background-color: #f6f9fb;
                    border-left: 2px solid #5b9bd1;
                    margin-left: -2px;
                }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }
</style>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img class="img-responsive" src="~/img/@Model.Avatar_Url" />
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.Full_Name
                    </div>
                    <div class="profile-usertitle-job">
                        Student
                    </div>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a asp-action="userProfile" asp-route-id="@Model.Id">
                                <i class="glyphicon glyphicon-home"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a asp-action="editProfile" asp-route-id="@Model.Id">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a asp-action="changePassword" asp-route-id="@Model.Id">
                                <i class="glyphicon glyphicon-briefcase"></i>
                                Change Password
                            </a>
                        </li>
                        <li>
                            <a asp-action="changePhoto" asp-route-id="@Model.Id">
                                <i class="glyphicon glyphicon-picture"></i>
                                Change Photo
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="text-center">
                    <h3 style="margin-top:20px">EDIT PROFILE</h3>
                </div>
                <form method="post" asp-action="editProfile">
                    @*PHẦN CHƯA UPDATE DATABASE:
                        Auth_Provider
                        Avatar_Url
                        Reset_password_token
                        Verification_code
                        Status_Id
                        Email*@
                    <input asp-for="Id" hidden>
                    <input asp-for="Auth_Provider" hidden>
                    <input asp-for="Avatar_Url" hidden>
                    <input asp-for="Reset_password_token" hidden>
                    <input asp-for="Verification_code" hidden>
                    <input asp-for="Status_Id" hidden>
                    <input asp-for="Email" hidden>


                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Full_Name" class="control-label"></label>
                        <input asp-for="Full_Name" class="form-control" />
                        <span asp-validation-for="Full_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option selected>--Gender--</option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                            <option value="2">Non-binary</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dob" class="control-label"></label>
                        <input asp-for="Dob" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" id="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-danger" />
                        <a asp-action="userProfile" asp-route-id="Id" class="btn btn-success">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
