
@using PagedList.Core.Mvc
@using SWP391_OnlineLearning_Platform.Models;
@model IEnumerable<SWP391_OnlineLearning_Platform.Models.Question_Bank>

@{
    ViewData["Title"] = "QuestionList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}


<h2>Question List</h2>

<p>
    <a asp-action="Create">Create Question</a>
    <a asp-action="Import">| Import File</a>
</p>
<form asp-controller="QuestionBank" asp-action="QuestionList">

    <div class="search-something">
        <input type="text" name="keyWord">
        <button class="btn-primary" type="submit">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Course
            </th>
            <th>
                <a asp-action="QuestionList" asp-route-sortOrder="@ViewData["content"]">Question Content<span class="glyphicon glyphicon-sort"></span></a>
            </th>
            <th>
                <a asp-action="QuestionList" asp-route-sortOrder="@ViewData["level"]">Level<span class="glyphicon glyphicon-sort"></span></a>
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quiz_Level.Name)
                </td>
                <td>
                    @if (item.Status_Id == 1)
                    {
                        <i class="fa fa-circle text-success"> </i>
                    }

                    @Html.DisplayFor(modelItem => item.Status.Value)
                </td>
                <td>
                    <a asp-action="QuestionDetail" asp-route-id="@item.Id">Update</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



