
@using PagedList.Core.Mvc
@using SWP391_OnlineLearning_Platform.Models;
@model PagedList.Core.IPagedList<SWP391_OnlineLearning_Platform.Models.Question_Bank>

@{
    ViewData["Title"] = "QuestionList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int CurrentPage = ViewBag.CurrentPage;

    int count = 0;
}

<h2>Question List</h2>

<p>
    <a asp-action="Create">Create Question</a>
    <a asp-action="Import">| Import File</a>
</p>
<form asp-controller="QuestionBank" asp-action="QuestionList"> 

    <div class="search-something">
        <input type="text" name="keyWord">
        <button class="btn-primary" type="submit">Search</button>
    </div>
</form>

//sort by level: easy-> hard, hard -> easy
<div>
    <p>
        Sorted by:
        <select id="level" name="level" style="padding:9px 15px; border-radius:10px;">
            <option selected disabled>---Level---</option>
            <option value="1">Easy to Hard</option>
            <option value="2">Hard to Easy</option>
        </select>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Course
            </th>
            <th>
                Question Content
            </th>
            <th>
                Level
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@(++count)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quiz_Level.Name)
            </td>
            <td>
                @if (item.Status_Id == 1)
                {
                    <i class="fa fa-circle text-success"> </i>
                }

                @Html.DisplayFor(modelItem => item.Status.Value)
            </td>
            <td>
                <a asp-action="QuestionDetail" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<h3>Trang số: @CurrentPage</h3>

<pager list="@Model" asp-controller="QuestionBank" asp-action="QuestionList" />
//thiếu bootstrap
