
@{
    ViewData["Title"] = "CourseDetail";
}
@model dynamic
@{
    var course = Model.course;
    var cate = ViewBag.Category;
}
<main>

    <div class="page-heading text-center">
        <div class="container">
            <h2>SINGLE COURSE</h2>
            <p class="breadcrumbs">
                <a href="#">Home</a>
                <i class="zmdi zmdi-chevron-right"></i>
                <a asp-action="CourseList" asp-controller="Course">Courses</a>
                <i class="zmdi zmdi-chevron-right"></i>
                <a asp-action="CourseList" asp-controller="Course" asp-route-cate="@cate.Id">@cate.Value</a>
                <i class="zmdi zmdi-chevron-right"></i>
                <span>@course.Title</span>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <img src="~/img/@course.Thumbnail_URL" alt="Course" class="resp-img course-preview">
                <h3>@course.Title</h3>
                <p class="class-details">
                    <span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span>
                    <span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span>
                    <span class="views"><i class="zmdi zmdi-eye"></i>2241 VIEWS</span>
                    <span class="tag"><i class="zmdi zmdi-label"></i>@cate.Value</span>
                </p>
                <h4>COURSE DETAILS</h4>
                <p class="abs">
                    @course.Title
                </p>
                <h5>What does this course include?</h5>
                <ul class="includes">
                    <li>Lorem ipsum dolor sit amet, consectetuer adipisc.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                    <li>Nunc dignissim risus id metus.</li>
                    <li>Cras ornare tristique elit.</li>
                    <li>Vivamus vestibulum nulla nec ante.</li>
                </ul>
                <h4>COURSE CONTENT</h4>
                <ul class="course-accordion">
                    <li class="accordion-option opened">
                        <div class="option-title">Section #1: Tools in Photoshop <span>(4 videos)</span></div>
                        <div class="option-wrapper">
                            <ul class="option-items">
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.15 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Epsum factorial non deposit quid.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.31 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Pro quo hic escorol olypian.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Et gorilla congolium sic.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Ad nauseum souvlaki ignitus carborundum.</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-option">
                        <div class="option-title">Section #2: Working with layers <span>(6 videos)</span></div>
                        <div class="option-wrapper">
                            <ul class="option-items">
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.15 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Epsum factorial non deposit quid.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.31 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Pro quo hic escorol olypian.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Et gorilla congolium sic.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Ad nauseum souvlaki ignitus carborundum.</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-option">
                        <div class="option-title">Section #3: Functions and effects <span>(5 videos)</span></div>
                        <div class="option-wrapper">
                            <ul class="option-items">
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.15 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Epsum factorial non deposit quid.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.31 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Pro quo hic escorol olypian.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Et gorilla congolium sic.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Ad nauseum souvlaki ignitus carborundum.</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-option">
                        <div class="option-title">Section #4: New features in Adobe Photoshop <span>(3 videos)</span></div>
                        <div class="option-wrapper">
                            <ul class="option-items">
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.15 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Epsum factorial non deposit quid.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">0.31 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Pro quo hic escorol olypian.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Et gorilla congolium sic.</a>
                                </li>
                                <li class="option-item">
                                    <div class="pull-right">
                                        <span class="duration">1.29 h</span><a href="#"><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <a href="#">Ad nauseum souvlaki ignitus carborundum.</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h4>COMMENTS</h4>
                <div class="comment clearfix">
                    <img src="http://placehold.it/65x65" alt="Avatar" class="pull-left">
                    <a href="#">Jack Porter</a>
                    <span class="postedon">14 JANUARY 2016 AT 12:24 AM</span>
                    <p class="abs">
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                        facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <a href="#" class="pull-right greybutton">REPLY</a>
                </div>
                <div class="comment subcomment clearfix">
                    <img src="http://placehold.it/65x65" alt="Avatar" class="pull-left">
                    <a href="#">Mark Terrenzi</a>
                    <span class="postedon">14 JANUARY 2016 AT 12:35 AM</span>
                    <p class="abs">
                        Ivel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                        blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </p>
                    <a href="#" class="pull-right greybutton">REPLY</a>
                </div>
                <h4>LEAVE A REPLY</h4>
                <form class="contact">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="req">NAME</label>
                            <input type="text" name="name" placeholder="enter your name" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="req">E-MAIL ADDRESS</label>
                            <input type="text" name="email" placeholder="enter e-mail address" required>
                        </div>
                        <div class="col-sm-4">
                            <label>WEBSITE</label>
                            <input type="text" name="site" placeholder="https://">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="req">MESSAGE</label>
                            <textarea name="name" placeholder="type in a message" required></textarea>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button class="greybutton">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="order text-center">
                    @*<p class="price">59</p>
                    <p>SINGLE PRICE</p>*@
                    <a class="blueplay">Start Learning For Free</a>
                    <p class="order-or"><span>OR</span></p>
                    <p>UPGRADE TO</p>
                    <a asp-action="CourseRegister" asp-controller="Course" asp-route-courseId="@course.Id" class="greybutton">PREMIUM MEMBERSHIP</a>
                </div>
                <div class="pros">
                    <h4>ABOUT THE TEACHER</h4>
                    <div class="teacher text-center">
                        <div class="imgcontainer">
                            <img src="http://placehold.it/130x130" alt="Avatar">
                            <div class="overlay">
                                <img src="http://placehold.it/18x17" alt="Profile">
                                <p>8 VIDEOS</p>
                            </div>
                        </div>
                        <a href="#">Jonathan Creon</a>
                        <p>DESINGER</p>
                        <ul class="social">
                            <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-email"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-globe-alt"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ratings">
                    <h4>COURSE RATINGS</h4>
                    <div class="rating">
                        <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
                        <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
                        <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
                        <a href="#" class="on"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
                        <a href="#"><i class="zmdi zmdi-star zmdi-hc-2x"></i></a>
                    </div>
                    <p>(37 votes, average: <strong>4.8</strong> out of 5)</p>
                </div>
                <div class="popular-courses index-3-categories">
                    <h4>POPULAR COURSES</h4>
                    <div class="courses-side-slick">
                        <div class="category-with-bg text-center cat1">
                            <h5>Content-Management-Systems</h5>
                            <p>IT-Service for CMS like WordPress</p>
                            <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                        <div class="category-with-bg text-center cat2">
                            <h5>User Experience / UX Design</h5>
                            <p>Workshop for UX Design</p>
                            <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                        <div class="category-with-bg text-center cat3">
                            <h5>Typography &amp; Writing</h5>
                            <p>Work with InDesign</p>
                            <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="categories">
                    <h6>CATEGORIES</h6>
                    <ul>
                        @foreach (var category in Model.categories)
                        {
                            <li><a asp-action="CourseList" asp-controller="Course" asp-route-cate="@category.Id">@category.Value</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>