@using SWP391_OnlineLearning_Platform.Models;
@model IEnumerable<SWP391_OnlineLearning_Platform.Models.Quiz>

@{ ViewData["Title"] = "QuizzesList";
    Paginated pager = new Paginated();

    int pageNo = 0;
    if (ViewBag.Paginated != null)
    {
        pager = ViewBag.Paginated;
        pageNo = pager.CurrentPage;
    }

    int count = 0;
}


<h2>Quizzes List (for expert/admin)</h2>

<p>
    <a asp-action="Create"><button class="btn btn-success">Create New</button></a>
</p>
<form asp-controller="Quizs" asp-action="Index">
    <div class="search-something">
        <input type="text" name="key">
        <button class="btn-primary" type="submit">Search</button>
    </div>
</form>


<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr style="font-weight:bold;">
            <td>No.</td>
            <td>Subject</td>
            <td>
                Quiz Name
            </td>
            <td>
                Level
            </td>
            <td>
                Total Question
            </td>
            <td>
                Duration<br />
                (minutes)
            </td>
            <td>
                Pass Rate
            </td>
            <td>
                Quiz Type
            </td>
            <td>
                Action
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(count++)</td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quiz_Level.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pass_rate) %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quiz_Type.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="zzzDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="col-xs-12">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            <li class="page-item @(pager.CurrentPage <= 1 ? "hidden" : "")">
                <a class="page-link" asp-action="Index" asp-controller="Quizs" asp-route-page="@(pager.CurrentPage - 1)"> Previous </a>
            </li>
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-controller="Quizs" asp-route-page="@pge"> @pge </a>
                </li>
            }
            <li class="page-item @(pager.CurrentPage == pager.EndPage ? "hidden" : "")">
                <a class="page-link" asp-action="Index" asp-controller="Quizs" asp-route-page="@(pager.CurrentPage + 1)"> Next </a>
            </li>
        </ul>
    }
</div>