@model List<SWP391.Models.Course>
@{
    Layout = "_Layout";
    ViewData["Title"] = "CART";
}
<div class="page-content bg-white">
    <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Cart</li>
            </ul>
        </div>
    </div>
    <div class="content-block">

        @{ double total = 0;
            var index = 1;}
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                @*<th scope="col"><img src="@(course.ThumbnailURL)"/></th>*@
                                <th scope="col">Course</th>
                                <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        @foreach (var course in Model)
                        {
                            total += course.Price;
                            <tr>
                                <td>@(index++)</td>
                                <td>@(course.Title)</td>
                                <td>@(course.Price.ToString())$</td>
                                <td>
                                    <a asp-route="Removecart" asp-route-courseId="@course.CourseId"
                                       class="btn btn-danger">Remove Entry</a>
                                    <a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.CourseId"
                                       class="btn btn-danger">Go To Course</a>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="" class="btn btn-secondary">Purchase @(total.ToString())$</a>
                        <a asp-controller="Course" asp-action="ClearCart" class="btn btn-secondary" style="background-color:red;">Empty cart</a>
                        <a asp-controller="Course" asp-action="CourseList" class="btn btn-secondary" style="background-color:deeppink;">Continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
          $(document).ready(function () {
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var productid = $(this).attr("data-productid");
                  var quantity = $("#quantity-" + productid).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          productid: productid,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });
    </script>
}