@model List<SWP391.Models.Course>
@{
    Layout = "_Layout";
    ViewData["Title"] = "CART";
}
+<div class="page-content bg-white">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Cart</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading Box END ==== -->
    <!-- Page Content Box ==== -->
    <div class="content-block">
        <!-- About Us ==== -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                @*<th scope="col"><img src="@(course.ThumbnailURL)"/></th>*@
                                <th scope="col">Course</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        @foreach (var course in Model)
                        {
                            var total = 0;
                            var index = 1;
                            <tr>
                                <td>@(index++)</td>
                                <td>@(course.Title)</td>
                                <td>@(course.Price)</td>
                            </tr>
}
                    </table>
                    <a asp-controller="Product" asp-action="Checkout" class="btn btn-success">Gửi đơn hàng</a>
                </div>
            </div>
        </div>

        <!-- Testimonials END ==== -->
    </div>
    <!-- Page Content Box END ==== -->
</div>



@if (Model.Count > 0)
{
    double total = 0;
    int stt = 1;

    <table class="table">
        <tr>
            <th>#</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model)
        {
            var thanhtien = cartitem.Price;
            total += thanhtien;

            <tr>
                <td>@(stt++)</td>
                <td>@cartitem.Title</td>
                <td>@(cartitem.Price.ToString("n0"))</td>
                <td>@(thanhtien.ToString())</td>
                <td>
                    <a asp-route="removecart" asp-route-productid="@cartitem.CourseId"
                       class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right">Tổng tiền</td>
            <td>@(total.ToString())</td>
            <td></td>
        </tr>
    </table>

    <a asp-controller="Product" asp-action="Checkout" class="btn btn-success">Gửi đơn hàng</a>

    @section Scripts {
        <script>
          $(document).ready(function () {
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var productid = $(this).attr("data-productid");
                  var quantity = $("#quantity-" + productid).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          productid: productid,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });
        </script>
    }

}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}