@model List<SWP391.Models.Quiz>
@{
    Layout = "_Layout";
    ViewData["Title"] = "ATTEMPT";
}
<div class="page-content bg-white">
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Attempt</li>
            </ul>
        </div>
    </div>
    <div class="content-block">
        <div class="section-area section-sp1">
            @*<form asp-controller="Course" asp-action="Attempt" method="post">*@
                <h2 style="text-align:center">@ViewData["TopicName"]</h2>
                <div class="container">
                    <table class="table table-hover">
                        <thead style="background-color: #00c5dc">
                            <tr>
                                <th scope="col">QuizName</th>
                                <th scope="col">Description</th>
                                <th scope="col">Total qs</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Difficult</th>
                                <th scope="col">Last attempt</th>
                                <th scope="col">Score</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>

                            @if (Model.Count > 0)
                            {
                                foreach (var quiz in Model)
                                {
                                    <tr>
                                        <td scope="row">@(quiz.Name)</td>
                                        <td scope="row">@(quiz.Description)</td>
                                        <td scope="row">@(quiz.QuestionNum)</td>
                                        <td scope="row">@(quiz.Duration)</td>
                                        <td scope="row">@(quiz.QuizLevel.QuizLevelName)</td>
                                        @if (quiz.Attempts.Count > 0)
                                        {
                                            <td>@(String.Format("{0:MM/dd/yyyy}", quiz.Attempts.ElementAt(quiz.Attempts.Count - 1).StartTime))</td>
                                            <td>@(quiz.Attempts.ElementAt(quiz.Attempts.Count - 1).TotalMark)</td>
                                            <td>
                                                <button type="button" class="btn blue" data-toggle="modal" data-target="#exampleModalLong">
                                                    Attempt
                                                </button>
                                                <a asp-controller="Course" asp-action="AttemptDetail" asp-route-quizid="@quiz.QuizId" class="btn blue">Results</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                            <td>-</td>
                                            <td>
                                                <a asp-controller="Course" asp-action="QuizAttempt" class="btn blue">Attempt</a>
                                            </td>
                                        }
                                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Attempt</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Date: @String.Format("{0:MM/dd/yyyy}", DateTime.Now.Date)
                                                        <br />
                                                        Question Num: @quiz.QuestionNum
                                                        <br />
                                                        Difficult: @quiz.QuizLevel.QuizLevelName
                                                        <br />
                                                        Duration: @quiz.Duration
                                                        <br />
                                                        Description: @quiz.Description
                                                    </div>
                                                    @*<input asp-for="@Model.ElementAt(Model.IndexOf(quiz)).QuizId" value="@quiz.QuizId"/>*@
                                                    <div class="modal-footer">
                                                        @*<button type="submit" class="btn btn-primary">Go!</button>*@
                                                        <a class="btn blue" asp-controller="Course" asp-action="Attempt" asp-route-quizid="@quiz.QuizId">Go!</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            @*</form>*@
        </div>
    </div>
</div>




<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>