@model XTLASPNET.MessagePage.Message
@{
    Layout = "~/Views/Shared/CustomLayout/_LayoutRedirect.cshtml";
    ViewData["Title"] = @Model.Title;
}
<h2>@Model.Title</h2>
@*<h2 class="error-title">@Html.Raw(Model.HtmlContent)</h2>*@
@*<h4>@Model.Title</h4>*@
<p>@Html.Raw(Model.HtmlContent)<p>
<p>Go to <a href="@Model.UrlRedirect">@Model.UrlRedirect</a></p>


