@{
    ViewData["Title"] = "BlogList";
    var count = 0;
}

@model SWP391_OnlineLearning_Platform.Models.ViewModels.Blog_Elements



<div class="page-heading text-center">
    <div class="container">
        <h2>OUR BLOG</h2>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-lg-9">
            @if(Model.blogs.Count() == 0)
            {
                <h1>No information</h1>
            }
            @foreach (var item in Model.blogs)
            {

                <div class="blog-item clearfix">
                    <a asp-controller="publicfeature" asp-action="BlogDetail" asp-route-id="@item.Id">
                        <img src="~/img/@Html.DisplayFor(modelItem => item.Thumbnail)" alt="blog-single" class="img-thumbnail" style="width:871px;height:401px;">
                    </a>
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <div class="author">
                        <a href="#">@Html.DisplayFor(modelItem => item.Category.Value)</a><span> - @Html.DisplayFor(modelItem => item.Date) BY @Html.DisplayFor(modelItem => item.User.Full_Name)</span>
                    </div>
                    <p class="abs">
                        @Html.DisplayFor(modelItem => item.Brief)
                    </p>
                    <a asp-controller="publicfeature" asp-action="BlogDetail" asp-route-id="@item.Id" class="pull-right greybutton">READ MORE</a>
                </div>}
            @*
                <div class="paginations">
                    <a class="prev" href="#"><i class="zmdi zmdi-chevron-left"></i>PREV</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a class="next" href="#">NEXT<i class="zmdi zmdi-chevron-right"></i></a>
                </div>*@
        </div>



        <div class="col-lg-3 blog-sidebar">
            @*SEARCH BAR*@
            <div class="search-something">
                <form id="my_form" asp-controller="PublicFeature" asp-action="bloglist">
                    <a class="search" onclick="document.getElementById('my_form').submit();" ><i class="zmdi zmdi-search zmdi-hc-lg"></i></a>
                    <div class="search-something">
                        <input type="text" name="searchString" placeholder="search for something" >
                    </div>
                </form>
            </div>
            <h4>RECENT POSTS</h4>

            @foreach (var item in Model.blogs)
            {
                ++count;
                if (count <= 5)
                {
                    <div class="recent-post clearfix">
                        <img src="~/img/@Html.DisplayFor(modelItem => item.Thumbnail)" alt="recent" class="pull-left" style="width:70px;height:70px;">
                        <a asp-controller="publicfeature" asp-action="BlogDetail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        <div class="author">
                            <a href="#">@Html.DisplayFor(modelItem => item.Category.Value)</a><span> @Html.DisplayFor(modelItem => item.Date)</span>
                        </div>
                    </div>}
            }


            <div class="categories">
                <h6>CATEGORIES</h6>
                <ul>
                    @foreach (var item in Model.category)
                    {
                        <li><a href="#">@Html.DisplayFor(modelItem => item.Value)</a></li>
                    }
                </ul>
            </div>

        </div>

    </div>
</div>


