@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Package>
@*@foreach(var i in Model) {
    <p>@i.PackageId</p>
}
*@


<div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner2.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Membership</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>Membership</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp2">
                <div class="container">
					<div class="row">
						<div class="col-md-12 heading-bx text-center">
							<h2 class="title-head text-uppercase m-b0">Set a plan, start learning and <br/> <span> unlock your potential</span></h2>
							<p>......</p>
						</div>
					</div>
					 <div class="pricingtable-row">
						<div class="row" style="display:flex;">
							@foreach(var m in Model)
							{
							if(m.PackageId.Equals("PackageId1")) {
								<div class="col-sm-12 col-md-2 col-lg-2 m-b20">
								</div>
							}
							<div class="col-sm-12 col-md-4 col-lg-4 m-b40">
								<div class="pricingtable-wrapper">
									<div class="pricingtable-inner">
										<div class="pricingtable-main"> 
											<div class="pricingtable-price"> 
												<span class="priceing-doller">$</span>
												<span class="pricingtable-bx">@m.PackagePrice</span>
												@*<span class="pricingtable-type">3 Month</span>*@
											</div>
											<div class="pricingtable-title">
												<h2>@m.PackageName</h2>
												<p>This is what you're waiting for!</p>
											</div>
										</div>
										<ul class="pricingtable-features">
											@{var i = @m.PackageDescription.Split(" ");}
											@foreach(var i1 in i) {
												<li>@i1</li>
											}
										</ul>
										<div class="pricingtable-footer"> 
											<a asp-controller="Membership" asp-action="Payment" asp-route-packageId="@m.PackageId"  class="btn radius-xl">Get It Now</a>
										</div>
									</div>
								</div>
							</div>
							if(m.PackageId.Equals("PackageId2")) {
								<div class="col-sm-12 col-md-2 col-lg-2 m-b20">
								</div>
								}
							}
@*							<div class="col-sm-12 col-md-4 col-lg-4 m-b40">
								<div class="pricingtable-wrapper">
									<div class="pricingtable-inner">
										<div class="pricingtable-main"> 
											<div class="pricingtable-price"> 
												<span class="priceing-doller">$</span>
												<span class="pricingtable-bx">20</span>
												<span class="pricingtable-type">12 Month</span>
											</div>
											<div class="pricingtable-title">
												<h2>Advanced</h2>
												<p>Experience the best for e-learning</p>
											</div>
										</div>
										<ul class="pricingtable-features">
											<li>One Time Fee</li>
											<li>3 User</li>
											<li>Lifetime Availability</li>
											<li>Non Featured</li>
											<li>30 days Listing</li>
											<li>24/7 Support</li>
											<li>Select</li>
										</ul>
										<div class="pricingtable-footer"> 
											<a href="#" class="btn radius-xl">Get It Now</a>
										</div>
									</div>
								</div>
							</div>*@
						</div>
					</div>
				</div>
            </div>
		</div>
    </div>
